<div class="container">

  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %>"><%= message %></div>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-signin well"}) do |f| %>
    <h2 class="form-signin-heading">Регистрация</h2>
    
    <div class="form-group">
      <%= f.label :username, 'Имя пользователя' %>
      <%= f.text_field :username, :autofocus => true, :class => "form-control", :placeholder => "Имя пользователя" %>
    </div>

    <div class="form-group">
      <%= f.label :fio, 'ФИО' %>
      <%= f.text_field :fio, :autofocus => true, :class => "form-control", :placeholder => "ФИО" %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Пароль' %>
      <%= f.password_field :password, :class => "form-control", :placeholder => "Пароль" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Подтверждение пароля' %>
      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Подтверждение пароля" %>
    </div>

    <%= f.submit "Регистрация", :class => "btn btn-lg btn-primary btn-block" %>

  <% end %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  </div>
</div>
