  <%= form_for(@user, :url => admin_path(@user), :html => {:class => "form-signin well", :method => :put}) do |f| %>
    <%= devise_error_messages_for(@user) %>

    <h2 class="form-signin-heading">Настройка пользователя</h2>
    
    <div class="form-group">
      <%= f.label :username, 'Имя пользователя' %>
      <%= f.text_field :username, :autofocus => true, :class => "form-control", :placeholder => "Имя пользователя" %>
    </div>

    <div class="form-group">
      <%= f.label :fio, 'ФИО' %>
      <%= f.text_field :fio, :autofocus => true, :class => "form-control", :placeholder => "ФИО" %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Пароль' %> <small><i>Оставьте пустым, если не хотите менять</i></small>
      <%= f.password_field :password, :class => "form-control", :placeholder => "Пароль" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Подтверждение пароля' %>
      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Подтверждение пароля" %>
    </div>

    <div class="form-group">
      <%= f.label :admin, 'Права администратора' %> 
      <%= f.check_box :admin, :style => "margin-left : 10px" %>
    </div>

    <%= f.submit "Обновить", :class => "btn btn-lg btn-primary btn-block" %>

  <% end %>
