<!DOCTYPE html>
<html>
<head>
  <title>TimeWorker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if params[:controller] != 'devise/registrations' %>
            <li><%= link_to "Регистрация", new_user_registration_path %></li>
          <% else %>
            <li><%= link_to "Авторизация", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


<%= yield %>
</body>
</html>
